<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
   
    <!--<add name="Sam_DBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sam_DB;persist security info=True;user id=sa;password=sam@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--  <add name="Sam_DBEntities" connectionString="miKDvveV14wzIlB8cGqOBoVrJDGWmPYsGPwT3HZm7bF5wjFIg7fIKOl5ym4o2BpJDuYiZNeub6zv1ve1kgxYL+J+nUUDWfIEL64jRguUKZ5XsVCC2hr7zmJU/NIcK1P5n7HXxQza5mkBVcTYBU22nrG2yKYMspN/B8EKG9fnHyYKYT07W+oCnuO7+5RdmT61Z2jJsa6odH0p7u6W8JYeHe9fCVIk6nfacylnBDsMSfyjjxdil4X/t4utLlSu/IcrFvDpkYxKRodDV22xjcfOdG1s/CVIzGlc7JkGPN3CPTX64d1pLIErqvVatkMSEJjE4K6sj9OuP3AArbq0NUnTFHbcjjQIldf2Znwrkhb+L/k=" providerName="System.Data.EntityClient" /> -->
	 
		  <add name="Sam_DBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sam_DB;user id=sa;password=learn123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	

  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>